@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Play:wght@400;700&display=swap');
*{box-sizing: border-box; padding: 0; margin: 0;}
html,body {padding: 0; margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
a{text-decoration: none;}


#frame header {
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    background-color: #6ab3b2;
    box-shadow: inset 0px 0px 30px rgba(0,0,0,.5);
}
#frame header .logo {
    height: 220px;
    text-align: center;
    padding-top: 110px;
}
#frame header .logo img {
}
#frame header ul li {
    padding: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
#frame header ul li:hover {
    background: #fff;
}
#frame header ul li a {
    display: block;
    color: #fff;
    text-align: center;
}
#frame header ul li:hover a {
    color: #6ab3b2;
}
#frame header .sns {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 30%;
}
#frame header .sns h3 {
    color: #fff;
    font-weight: 500;
}
#frame header .sns img {
    padding: 5px;
}
#frame header .arrow {
    display: none;
}
#frame section {
    width: calc(100% - 270px);
    margin-left: 270px;   
    position: relative;
    display: grid;
}
#frame section .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.gallery .img {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
#frame section .gallery .img:nth-child(1) {
    background-image: url(../img/t-1-213373_640x480.jpg);
    height: 600px;
    grid-column: 1/3;
    grid-row: 1/3;
}
#frame section .gallery .img:nth-child(2) {
    background-image: url(../img/t-3-325075_640x480.jpg);
    grid-column: 3/4;
    grid-row: 1/2;
}
#frame section .gallery .img:nth-child(3) {
    background-image: url(../img/t-21-545213_640x480.jpg);
    grid-column: 4/5;
    grid-row: 1/2;
}
#frame section .gallery .img:nth-child(4) {
    background-image: url(../img/t-7-360109_640x480.jpg);
    grid-column: 3/4;
    grid-row: 2/3;
}
#frame section .gallery .img:nth-child(5) {
    background-image: url(../img/t-8-308603_640x480.jpg);
    grid-column: 4/5;
    grid-row: 2/3;
}
#frame section .gallery .img:nth-child(6) {
    background-image: url(../img/t-9-340072_640x480.jpg);
    grid-column: 1/2;
    grid-row: 3/4;
}
.gallery .img:nth-child(7) {
    background-image: url(../img/t-17-247234_640x480.jpg);
    background-position: 90% 90%;
    grid-column: 2/4;
    grid-row: 3/4;
}
.gallery .img:nth-child(8) {
    background-image: url(../img/shutterstock_58264459-111274_640x480.jpg);
    grid-column: 4/5;
    grid-row: 3/4;
}
.gallery .img:nth-child(9) {
    background-image: url(../img/t-13-584189_640x480.jpg);
    grid-column: 1/2;
    grid-row: 4/5;
}
.gallery .img:nth-child(10) {
    background-image: url(../img/shutterstock_56785618-132726_640x480.jpg);
    grid-column: 2/3;
    grid-row: 4/5;
}
.gallery .img:nth-child(11) {
    background-image: url(../img/t-5-236106_640x480.jpg);
    background-position: 80% 80%;
    grid-column: 3/5;
    grid-row: 4/5;
}
.gallery .img:nth-child(12) {
    background-image: url(../img/t3-8-321596_640x480.jpg);
    background-position: 80% 80%;
    grid-column: 1/3;
    grid-row: 5/6;
}
.gallery .img:nth-child(13) {
    background-image: url(../img/t-19-373493_640x480.jpg);
    grid-column: 3/4;
    grid-row: 5/6;
}
.gallery .img:nth-child(14) {
    background-image: url(../img/t3-9-289799_640x480.jpg);
    grid-column: 4/5;
    grid-row: 5/6;
}
.gallery .img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(228,157,16,.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .2s;
}
.gallery .img:hover .overlay {
    opacity: 1;
}
.gallery .img .overlay .img_txt {
    position: relative;
}
.gallery .img .overlay .img_txt_l {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 30%;
    margin: 0;
    padding: 0;
}
.gallery .img .overlay .img_txt_m h1,
.gallery .img .overlay .img_txt_l h1,
.gallery .img .overlay .img_txt h1 {
    color: #fff;
    font-size: 1.75em;
    text-align: center;
}
.gallery .img .overlay .img_txt_m h3,
.gallery .img .overlay .img_txt_l h3,
.gallery .img .overlay .img_txt h3 {
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    padding: 10px 0;
    text-align: center;
}
.gallery .img .overlay .img_txt_m h3::before,
.gallery .img .overlay .img_txt_l h3::before,
.gallery .img .overlay .img_txt h3::before {
    content: '';
    position: absolute;
    background: #fff;
    width: 75px;
    height: 3px;
    margin: 30px 0;
}
.gallery .img .overlay .img_txt_m p {
    color: #fff;
    font-weight: 100;
    font-size: 1em;
    margin: 30px 0;
}
.gallery .img .overlay .zoom {
    width: 40px;
    height: 40px;
    top: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    transition: top .5s;    
}
.gallery .img .overlay .left {
    left: 26%;   
}
.gallery .img .overlay:hover .zoom {
    top: 70%;
}
.footer {
    display: none;
}


/*=========================================*/
@media (max-width:1199px) {
    #frame header {
        width: 100%;
        height: 60px;
        position: relative;
        display: block;   
        box-shadow: none;
    }
    #frame header .logo {
        padding: 0;
        position: absolute;
    }
    #frame header .logo img {
        width: 120px;
        height: 60px;
        padding: 10px;
    }
    #frame header ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #frame header ul li {
        border: none;
    }
    #frame header ul li:hover {
        background: transparent;
    }
    #frame header ul li a {
        position: relative;
    }
    #frame header ul li:hover a {
        color: #fff;
    }
    #frame header ul li a:after {
        content: "";
        position: absolute;
        background: #fff;
        height: 5px;
        width: 0;
        left: 0;
        bottom: -20px;
        transition: width .5s;
    }
    #frame header ul li:hover a:after {
        width: 100%;
    }
    #frame header .sns {
        position: absolute;
        top: 20%;
        margin: 0;
        left: 85%;
    }
    #frame header .sns h3 {
        display: none;
    }
    #frame section {
        width: 100%; 
        margin: 0;
    }
    #frame section .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .gallery .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 991px) {
    #frame header {
        width: 100%;
        height: 60px;
        position: relative;  
        box-shadow: none;
    }
    #frame header ul {
        margin-left: 300px;
    }
    #frame header .sns {
        display: none;
    }
    #frame section .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    #frame section .gallery .img:nth-child(4),
    #frame section .gallery .img:nth-child(9),
    #frame section .gallery .img:nth-child(12),
    #frame section .gallery .img:nth-child(13) {
        display: none;
    }
    #frame section {
        width: 100%;
        margin: 0;
    }
    #frame section .gallery .img:nth-child(1) {
        height: 160px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #frame section .gallery .img:nth-child(2) {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    #frame section .gallery .img:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #frame section .gallery .img:nth-child(5) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #frame section .gallery .img:nth-child(6) {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #frame section .gallery .img:nth-child(7) {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #frame section .gallery .img:nth-child(8) {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    #frame section .gallery .img:nth-child(10) {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #frame section .gallery .img:nth-child(11) {

        grid-column: 2/3;
        grid-row: 4/5;
    }
    #frame section .gallery .img:nth-child(14) {
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .gallery .img .overlay .img_txt_l {
        top: 40%;
    }
    .gallery .img .overlay .img_txt_m h1,
    .gallery .img .overlay .img_txt_l h1,
    .gallery .img .overlay .img_txt h1 {
        font-size: 1.5em;
    }
    .gallery .img .overlay .img_txt_m h3,
    .gallery .img .overlay .img_txt_l h3,
    .gallery .img .overlay .img_txt h3 {
        font-size: .8em;
        padding: 5px 0;
    }
    .gallery .img .overlay .img_txt_m h3::before,
    .gallery .img .overlay .img_txt_l h3::before,
    .gallery .img .overlay .img_txt h3::before {
        width: 60px;
        height: 2px;
        margin: 20px 0;
    }
    .gallery .img .overlay .img_txt_m p {
        font-size: .75em;
        margin: 5px 0;
    }
    .gallery .img .overlay .zoom {
        width: 20px;
        height: 20px;
    }
    .gallery .img .overlay .zoom img {
        width: 10px;
        height: 10px;
    }
    .gallery .img .overlay .left {
        left: 26%;   
    }
    .gallery .img .overlay:hover .zoom {
        top: 75%;
    }
}


@media (max-width: 766px) {
    #frame header {
        width: 100%;
        height: 100vh;
        position: relative;
        display: block;
        text-align: center;
        background-color: #fff;
        background: url(../img/t-1-213373_640x480.jpg) no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    #frame header .overlay {
        display: block;
        opacity: .8;
        background: rgba(0,0,0,.6);
        height: 100%;
    }
    #frame header .logo {
        position: static;
        padding: 100px 0;
    }
    #frame header .logo img {
        width: 180px;
        height: 80px;
    }
    #frame header .logo::before {
        content: '';
        position: absolute;
        background: #fff;
        width: 180px;
        height: 5px;
        margin: 75px 0;
    }
    #frame header ul {
        display: inline-block;
        border: 2px solid #fff;
        border-radius: 20px;
        width: 200px;
        height: 280px;
        padding: 0;
        margin: 0;
    }
    #frame header ul li {
        position: relative;
        padding: 5px 0;
    }
    #frame header ul li a {
        font-size: 1.25em;
        transition: color .5s;
        padding: 5px;
    }
    #frame header ul li a:after {
        content: "";
        position: absolute;
        background: #6ab3b2;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -3px;
        transition: width .5s;
    }
    #frame header ul li:hover a {
        color: #6ab3b2;
    }
    #frame header ul li:hover a:after {
        width: 80%;
        left: 10%;
    }
    #frame header .sns {    
        position: absolute;
        display: flex;
        left: 40%;
        top: 65%;
    }
    #frame header .arrow {
        display: block;
        margin-top: 50px;
    }
    #frame header .arrow img {
        width: 50px;
        height: 50px;
    }
    #frame section .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 10px 10px;
    }
    #frame section .gallery .img:nth-child(4),
    #frame section .gallery .img:nth-child(8),
    #frame section .gallery .img:nth-child(9),
    #frame section .gallery .img:nth-child(10),
    #frame section .gallery .img:nth-child(12),
    #frame section .gallery .img:nth-child(13),
    #frame section .gallery .img:nth-child(14) {
        display: none;
    }
    .gallery .img {
        width: 100%;
        height: 100%;
    }
    #frame section .gallery .img:nth-child(1) {
        height: 180px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #frame section .gallery .img:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #frame section .gallery .img:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #frame section .gallery .img:nth-child(5) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #frame section .gallery .img:nth-child(6) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #frame section .gallery .img:nth-child(7) {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #frame section .gallery .img:nth-child(11) {
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .gallery .img .overlay .img_txt_l {
        top: 40%;
    }
    .gallery .img .overlay .img_txt_m h1,
    .gallery .img .overlay .img_txt_l h1,
    .gallery .img .overlay .img_txt h1 {
        font-size: 1em;
    }
    .gallery .img .overlay .img_txt_m h3,
    .gallery .img .overlay .img_txt_l h3,
    .gallery .img .overlay .img_txt h3 {
        font-size: .8em;
        padding: 5px 0;
    }
    .gallery .img .overlay .img_txt_m h3::before,
    .gallery .img .overlay .img_txt_l h3::before,
    .gallery .img .overlay .img_txt h3::before {
        width: 55px;
        height: 2px;
        margin: 25px 0;
    }
    .gallery .img .overlay .img_txt_m p {
        font-size: .65em;
        margin: 10px 0;
    }
    .gallery .img .overlay .zoom {
        width: 30px;
        height: 30px;
    }
    .gallery .img .overlay .zoom img {
        width: 15px;
        height: 15px;
    }
    .gallery .img .overlay .left {
        left: 27%;   
    }
    #frame .footer {
        display: block;
        position: static;
        width: 100%;
        padding: 10px 0;
        background: #6ab3b2;
    }
    #frame .footer p {
        font-size: 1rem;
        color: #fff;
        text-align: center;
    }
}